# ==============================
# Editores / IDEs
# ==============================
.vscode/
.idea/

# ==============================
# Docker
# ==============================
# Volúmenes locales
docker-data/
.docker/

# =========================
# Logs
# =========================
logs/
*.log

# ==============================
# Variables de entorno
# ==============================
.env
.env.*
!.env.example

# ==============================
# MongoDB
# ==============================
# Datos persistidos de MongoDB
data/
mongodb-data/
mongo-data/